<footer class="w-full bg-white">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-between items-center py-4">
            <div class="w-full md:w-1/2">
                <script>document.write(new Date().getFullYear())</script> © SI-Penggaji
            </div>
            <div class="w-full md:w-1/2">
                <div class="hidden md:flex justify-end space-x-6">
                    <a href="javascript: void(0);" class="text-gray-600 hover:text-gray-900">About</a>
                    <a href="javascript: void(0);" class="text-gray-600 hover:text-gray-900">Support</a>
                    <a href="javascript: void(0);" class="text-gray-600 hover:text-gray-900">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
